* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 15px;
  text-align: left;
  background: #f1f1f1;
  font-size: 50px;
}

.header a:link, a:visited{
  text-decoration: none;
  color:green;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Change color on hover */
.topnav a:hover {
  background-color: green;
  color: white
}

.topnav li {
  float: left;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav li a:hover:not(.active) {
  background-color: green;
  color: white
}

.topnav li a.active {
  color: #7baf46;
  font-weight: bold;
  text-decoration: underline;
}

/* Footer */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: left;
  display: block;
  background: #ddd;
  margin-top: 20px;
  font-size: 12px;
  overflow: hidden;

}

.code_inline{
  font-family: courier;
}

.code_snippet{
  padding: 20px;
  font-family: courier;
  color: green;
  display: block;
  background: white;
  line-height: 1.7;

}

.leftcolumn{
  padding-top: 10px;
  float: left;
  width: 15%;
}

.leftcolumn a {
  display: block;
  background-color: #ddd;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.leftcolumn a:hover {
  color: white;
  background-color: green;
}

.main {
  text-align: left;
  float: left;
  width: 75%;
  padding-left: 20px;
  padding-bottom: 50px;
}

p {
  width: 70%;
  word-break: break-word;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .leftcolumn, .main {
    width: 100%;
    padding: 0;
  }
}
.responsive {
  padding: 0 6px;
  //  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 1000px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 100px) {
  .responsive {
    width: 100%;
  }
}
